@charset "utf-8";
/* CSS Document */
body.layer{position: relative;}
body.layer:after{content: '';display: block;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.55);position: absolute;left: 0;top: 0;z-index: 9999}
/*font*/
@font-face { font-family: 'SeoulNamsanM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'SeoulHangangM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff'); font-weight: normal; font-style: normal; }


.hangang {font-family: 'SeoulHangangM',sans-serif}


/*폰트*/
.sn {font-family:'SeoulNamsanM','Noto Sans KR','sans-serif'}
.blue {color: #385d8a}
.blue2 {color: #1674d5}
.blue3 {color: #1b76a5}
.red {color: #ff0000}
.gray {color: #777}
.green {color: #04987a}
.italic {font-style: italic}
.bold {font-weight: bold}

/*버튼*/
.btn_wrap {margin-top: 20px}
.btn {border-radius: 8px;display: inline-block;padding: 8px 25px;font-size: 14px;}
.lay_btn .btn {margin-left: 10px}
.lay_btn .btn:first-child {margin-left: 0}
.btn.btn_blue {background: #385d8a;color: #fff !important}
.btn.btn_blue2 {background: #1b76a5;color: #fff !important}
.btn.btn_white {background: #fff;color: #333 !important;border: 1px solid #c1c1c1;}
.btn_white {background: #fff;color: #333 !important;border: 1px solid #c1c1c1;}
.btn.btn_white:hover,
.btn.btn_white:active,
.btn.btn_white:focus {background: #f5f5f5}
.btn.btn_gray {background: #f4f4f4;border: 1px solid #eaeaea}
.btn.btn_gray2 {background: #999999;color: #fff !important;}
.btn.btn_gray3 {background: #e1e1e1;color: #333 !important;}
.btn.btn_black{background: #555;color: #fff !important}
.btn_green{background: #008086;color: #fff !important}
.small_btn {font-size: 12px;display: inline-block;padding: 2px 15px;border-radius: 0}
.m_btn {font-size: 13px;display: inline-block;padding: 5px 15px;border-radius: 0}
.btn_nb {border-radius: 0}
.big_btn {font-size: 15px;width: 180px;height: 50px;text-align: center;line-height: 50px;border-radius: 8px;display: inline-block;}
.btn_green{}
.btn_blue_line{color: #385d8a;border: 1px solid #385d8a}

.round_btn {border-radius: 20px;display: inline-block;padding: 3px 15px;font-size: 12px;}

button:disabled {opacity: 0.6}


.block {display: block;}
/*line-height*/
.lh15 {line-height: 1.5 !important}

/*선*/
hr.ccc {background: #ccc;display: block;width: 100%;height: 1px}

/* css reset */
* {margin:0;padding:0;border:0;box-sizing:border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, button, cite, code,del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
font:inherit; background:none;}
table, tr, td, th {border-collapse:collapse;border-spacing:0px;}
ol, ul, li{list-style:none;}
hr,legend {display:none;}
caption {width:0;height:0;font-size:0;overflow:hidden;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
strong, b {font-weight:bold;}
select, button {cursor:pointer;}
input,textarea,select { font-size:inherit; font-weight:inherit;font-family:'Noto Sans KR', sans-serif !important;}

label {cursor:pointer;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}

select { border-radius:0; /* 아이폰 사파리 보더 없애기 */ -webkit-appearance:none; /* 화살표 없애기 for chrome*/ -moz-appearance:none; /* 화살표 없애기 for firefox*/ appearance:none /* 화살표 없애기 공통*/ ;border: 1px solid #eee;background: url(../images/select_arrow.png) no-repeat right 10px center #fff;font-size: 15px;min-width: 80px;padding:6px  12px;box-sizing: border-box;padding-right: 30px}

select::-ms-expand{ display:none /* 화살표 없애기 for IE10, 11*/ }

/* css defalt setting */
.blind {display:block; overflow:hidden; position:absolute !important; left:-9999px; width:1px; height:1px; font-size:0; line-height:0; text-indent:-9999px;}
.clear:after {content: '';display: block;clear: both}
.blank {margin:0; padding:0; border:none; background:none;}
.clearfix:before, .clearfix:after {content:"";display:table;padding:0;}
.clearfix:after {clear:both;}
.tct {text-align:center;}
.tlt {text-align:left;}
.trt {text-align:right;}
.vam {vertical-align:middle !important;}
.vat {vertical-align:top;}
.vab {vertical-align:bottom;}
.fl {float:left;}
.fr {float:right;}
.ulfl > li {float:left;}
.ulfr > li {float:right;}
.ib {display:inline-block;}
.keep {word-break:keep-all;}
.break {word-break:break-all;;}
.btn {display:inline-block;cursor:pointer;text-align:center;}
.t_under {text-decoration:underline;}
.lts_1 {letter-spacing:-1px;}
.ovh {overflow:hidden;}
.hide {width: 0;height: 0;position: absolute;overflow: hidden;left: -999999px}

.mobile {display:none;}

/*font size*/
.f13 {font-size:13px;}
.f14 {font-size:14px;}
.f15 {font-size:15px;}
.f16 {font-size:16px;}
.f17 {font-size:17px;}
.f18 {font-size:18px;}
.f20 {font-size:20px;}
.f20 {font-size:20px;}
.f22 {font-size:22px;}
.f23 {font-size:23px;}
.f24 {font-size:24px;}
.f25 {font-size:25px;}
.f26 {font-size:26px;}
.f30 {font-size:30px;}
.f32 {font-size:32px;}
.f35 {font-size:35px;}
.f36 {font-size:36px;}
.f38 {font-size:38px;}
.f60 {font-size:60px;}

/* line-height */
.lh20 {line-height:20px;}
.lh25 {line-height:25px;}
.lh30 {line-height:30px;}
.lh37 {line-height:37px;}
.lh44 {line-height:44px;}

/* font color */

/* width */
.mwd60 {min-width: 60px !important}
.mwd65 {min-width: 65px !important}
.wd50 {width:50px !important;}
.wd100 {width:100px !important;}
.wd150 {width:150px !important;}
.wd200 {width:200px !important;}
.wd250 {width:250px !important;}
.wd300 {width:300px !important;}
.wd350 {width:350px !important;}
.wd400 {width:400px !important;}
.wd450 {width:450px !important;}
.wd500 {width:500px !important;}
.wd600 {width:600px !important;}
.wd700 {width:700px !important;}
.wd800 {width:800px !important;}
.wd900 {width:900px !important;}
.wd1000 {width:1000px !important;}

.w100 {width:100%;}
.w4 {width:4%;}
.w5 {width:5%;}
.w10 {width:10%;}
.w15 {width:15%;}
.w20 {width:20%;}
.w25 {width:25%;}
.w30 {width:30%;}
.w33 {width:33%;}
.w40 {width:40%;}
.w45 {width:45%;}
.w48 {width:48%;}
.w50 {width:50%;}
.w55 {width:55%;}
.w60 {width:60%;}
.w65 {width:65%;}
.w70 {width:70%;}
.w75 {width:75%;}
.w80 {width:80%;}
.w90 {width:90%;}
.w50px {width:50px;}
.wm50 {max-width:50px;}
.wm100 {max-width:100px;}
.wm130 {max-width:130px;}
.wm160 {max-width:160px;}
.wm200 {max-width:200px;}
.wm240 {max-width:240px;}
.wm260 {max-width:260px;}
.wm300 {max-width:300px;}
.wm400 {max-width:400px;}
.wm430 {max-width:430px;}
.wm500 {max-width:500px;}
.wm570 {max-width:570px;}
.wm740 {max-width:740px;}
.wm780 {max-width:780px;}
.wm800 {max-width:800px;}
.wm840 {max-width:840px;}
.wm900 {max-width:900px;}


/* margin */
.m0{margin:0 !important}
.mauto {margin:0 auto;}

.mt_5{margin-top:5px}
.mt_10{margin-top:10px}
.mt_15{margin-top:15px}
.mt_20{margin-top:20px}
.mt_25{margin-top:25px}
.mt_30{margin-top:30px}
.mt_35{margin-top:35px}
.mt_40{margin-top:40px}
.mt_45{margin-top:45px}
.mt_50{margin-top:50px}
.mt_60{margin-top:60px}
.mt_80{margin-top:80px}

.mb_5{margin-bottom:5px}
.mb_10{margin-bottom:10px}
.mb_15{margin-bottom:15px}
.mb_20{margin-bottom:20px}
.mb_25{margin-bottom:25px}
.mb_30{margin-bottom:30px}
.mb_35{margin-bottom:35px}
.mb_40{margin-bottom:40px}
.mb_45{margin-bottom:45px}
.mb_50{margin-bottom:50px}
.mb_60{margin-bottom:60px}
.mb_70{margin-bottom:70px}
.mb_80{margin-bottom:80px}
.mb_90{margin-bottom:90px}
.mb_100{margin-bottom:100px}
.mb_250{margin-bottom:250px}

.ml_5{margin-left:5px}
.ml_10{margin-left:10px}
.ml_15{margin-left:15px}
.ml_20{margin-left:20px}
.ml_25{margin-left:25px}
.ml_30{margin-left:30px}
.ml_35{margin-left:35px}
.ml_40{margin-left:40px}
.ml_45{margin-left:45px}
.ml_50{margin-left:50px}

.mr_4p {margin-right:4%}
.mr_5{margin-right:5px !important}
.mr_10{margin-right:10px}
.mr_15{margin-right:15px}
.mr_20{margin-right:20px}
.mr_25{margin-right:25px}
.mr_30{margin-right:30px}
.mr_35{margin-right:35px}
.mr_40{margin-right:40px}
.mr_45{margin-right:45px}
.mr_50{margin-right:50px}

/* padding */
.p0{padding:0 !important}
.pt_5{padding-top:5px}
.pt_10{padding-top:10px}
.pt_15{padding-top:15px}
.pt_20{padding-top:20px}
.pt_25{padding-top:25px}
.pt_30{padding-top:30px}
.pt_35{padding-top:35px}
.pt_40{padding-top:40px}
.pt_45{padding-top:45px}
.pt_50{padding-top:50px}

.pb_5{padding-bottom:5px}
.pb_10{padding-bottom:10px}
.pb_15{padding-bottom:15px}
.pb_20{padding-bottom:20px}
.pb_25{padding-bottom:25px}
.pb_30{padding-bottom:30px}
.pb_35{padding-bottom:35px}
.pb_40{padding-bottom:40px}
.pb_45{padding-bottom:45px}
.pb_50{padding-bottom:50px}

.pl_5{padding-left:5px}
.pl_10{padding-left:10px}
.pl_15{padding-left:15px}
.pl_20{padding-left:20px}
.pl_25{padding-left:25px}
.pl_30{padding-left:30px}
.pl_35{padding-left:35px}
.pl_40{padding-left:40px}
.pl_45{padding-left:45px}
.pl_50{padding-left:50px}
.pl_100{padding-left:100px}
.pl_120{padding-left:120px}
.pl_140{padding-left:140px}

.pr_5{padding-right:5px}
.pr_10{padding-right:10px}
.pr_15{padding-right:15px}
.pr_20{padding-right:20px}
.pr_25{padding-right:25px}
.pr_30{padding-right:30px}
.pr_35{padding-right:35px}
.pr_40{padding-right:40px}
.pr_45{padding-right:45px}
.pr_50{padding-right:50px}
.pr_100{padding-right:100px}

.pd20 {padding: 20px}
.pd25 {padding: 25px;}



body,html {font-family: 'Noto Sans KR',sans-serif;letter-spacing: -0.5px;color: #333}
* {}
a, a:hover, a:focus, a:visited {text-decoration:none;color: #333}

*:hover,
*:active,
*:focus {transition: all 0.2s}
#wrap {width:100%;}
.container {position:relative;width:100%;max-width:1240px;margin:0 auto;}
.container:after {content: '';display: block;clear: both;}

/* Accessibility */
.skipnav a {position:absolute;top:0;left:-100%;color:#fff;background:#333;font-size:1.2em;}
.skipnav a:focus {display:block;position:fixed;left:0;right:0;z-index:9999;padding:10px;text-align:center;vertical-align:middle}

/*tnb*/
#tnb {height: 35px;background: #385d8a;line-height: 35px}
#tnb .site_tab{}
#tnb .site_tab:after {content: '';display: block;clear: both;}
#tnb .site_tab li {width: 100px;text-align: center;float: left;font-size: 14px;color: #fff;font-weight: 300}
#tnb .site_tab li a{color: #fff;display: block;border-right: 1px solid #6289b7;}
#tnb .site_tab li a:first-child {border-left: 1px solid #6289b7}
#tnb .site_tab .active {background: #fff;color: #666;font-weight: 500;color: #666;border-left: 0}
#tnb .site_tab li a:hover,
#tnb .site_tab li a:active,
#tnb .site_tab li a:focus {background: #fff;color: #666;font-weight: 500}

#tnb .fr:after {content: '';display: block;clear: both}
#tnb .fr .zoom-element{float: left;color: #fff;margin-right: 10px}
#tnb .fr .zoom-element span {display: inline-block}
#tnb .fr .zoom-element .zoom-text a{color: #fff ;font-size: 13px;margin:0 8px }
#tnb .fr .zoom-element .zoom-btn{border-radius: 50%;text-indent: -9999px;width: 21px;height: 21px;vertical-align: middle;margin-top: -3px}
#tnb .fr .zoom-element .zoom-btn.out {background: url(../images/size_down.png) #fff center no-repeat;}
#tnb .fr .zoom-element .zoom-btn.in {background: url(../images/size_up.png) #fff center no-repeat;}
#tnb .fr .zoom-element .zoom-btn a{display: block;height: 100%;}
#tnb .sns_list{float: left}
#tnb .sns_list:after{content: '';display: block;clear: both} 
#tnb .sns_list li{float: left;width: 35px;border-right:1px solid #6289b7}
#tnb .sns_list li a{display: block;text-indent: -9999px;}
#tnb .sns_list li:first-child {border-left: 1px solid #6289b7}
#tnb .sns_list li a.intar{background: url(../images/sns_intar.png) no-repeat center}
#tnb .sns_list li a.blog{background: url(../images/sns_blog.png) no-repeat center}
#tnb .sns_list li a.facebook{background: url(../images/sns_facebook.png) no-repeat center}
#tnb .sns_list li a.youtube{background: url(../images/sns_youtube.png) no-repeat center}
#tnb .sns_list li a.kakao{background: url(../images/sns_kakao.png) no-repeat center}
#tnb .sns_list li a.twitter{background: url(../images/sns_twitter.png) no-repeat center}
#tnb .sns_list li a:hover,
#tnb .sns_list li a:focus,
#tnb .sns_list li a:active {transform: rotate(30deg)}



/*header*/
#hd .hd_top{height: 94px;box-sizing: border-box;padding: 30px 0;position: relative}
#hd .container {height: 100%;overflow: inherit}
#hd .logo {position: absolute;left: 0;top: 50%;transform: translateY(-50%)}
#hd .logo{position: absolute;left: 0;top: 50%;transform: translateY(-50%);}
#hd h1.logo a{display: block;}
#hd h1.logo a::after{display: block; clear: both; content: "";}
#hd h1.logo a img{float: left;}
#hd h1.logo a .logo_t{float: left; margin-top:7px; margin-left: 6px;}
#hd h1.logo a span{display: block; ; color: #666666; font-size: 14px;}
#hd .logo .logo_title{ font-size: 30px; font-weight: bold; color: #333; font-family: gTitle, serif}
#hd .logo .logo_title2{font-family: gTitle, serif}

/*브리핑룸 사용신청 버튼*/
.btn_room {display: block;width: 190px;line-height: 35px;background: url(../images/pc_ico.png) no-repeat left 20px center #f6da6a;border-radius: 30px;text-align: center;font-size: 15px;color: #3d3100;padding-left: 25px;position: absolute;top: 50%;transform: translateY(-50%);right: 0;}

#frm:after {content: '';display: block;clear: both;}
#hd .sch_wrap{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%)}
#hd .sch_wrap .sch_tit {font-size: 17px;color: #385d8a;font-weight: 500;float: left;margin-right: 14px;float: left;display: block;line-height: 40px;}
#hd .sch_wrap .sch_box {width: 300px;height: 40px;border-radius: 8px;border: 1px solid #385d8a;float: left;position: relative;}
#hd .sch_wrap .sch_box  input {border: 0 !important;}
#hd .sch_wrap  #totSearch{display: block;position: absolute;right: 15px;top: 50%;transform: translateY(-50%); background: url(../images/seach_btn.png) no-repeat center;width: 22px;height: 22px;text-indent: -9999px;}
#hd .sch_wrap .sch_open {font-size: 14px;width: calc(100% - 45px);padding-left: 15px;box-sizing: border-box;height: 40px;background-color: transparent}
#hd .sch_wrap .sch_open:placeholder-shown {color: #9d9d9d;}
/*언어선택 fake s*/
#hd .lang{position: absolute;right: 0;top: 50%;transform: translateY(-50%); width: 100px;height: 25px;background:url(../images/select_btn_w.png) no-repeat right 10px center #385d8a;;border-radius: 20px;box-sizing: border-box;padding-left: 10px !important;line-height: 25px;color: #fff;font-size: 14px;padding-top: 0;padding-right: 0;padding-bottom: 0}

.gnb_wrap {border-top: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;}

.gnb_wrap  #gnb {margin: auto;width: 1240px;}
.gnb_wrap li .gnbmenu_wrap .depth2_li:nth-child(1) {}
.gnb_wrap  #gnb ul:after {content: '';display: block;clear: both}
.gnb_wrap  #gnb ul > li{float: left;width: 25%;}
.gnb_wrap #gnb ul > li > a{font-size: 19px;line-height: 50px;display: block;position: relative;width: 100%;text-align: center;box-sizing: border-box}
.gnb_wrap #gnb:after{content: '';display: block;clear: both;}
.gnb_wrap #gnb ul > li.depth1 > a:hover,
.gnb_wrap #gnb ul > li.depth1.on > a{color: #1b76a5;}
.gnb_wrap #gnb ul > li.depth1 > a:before{content: '';display: block;width: 100%;height: 1px;background: #1b76a5;left: 0;bottom: 0;position: absolute;display: none}
.gnb_wrap #gnb ul > li.depth1 > a:after{content: '';display: block;width: 0px;height: 0px;border-top: 8px solid #1b76a5;
border-left: 5px solid transparent;border-right: 5px solid transparent;left:50%;; position: absolute;display: none;z-index: 55555}
.gnb_wrap #gnb ul > li > a:hover:after,
.gnb_wrap #gnb ul > .depth1.on a:after,
.gnb_wrap #gnb ul > li > a:hover:before,
.gnb_wrap #gnb ul > .depth1.on > a:before{display: block}
.gnb_wrap  #gnb .menu_btn {width: 50px !important;height: 50px;text-indent: -9999px;background: url(../images/menu_btn.png) no-repeat #1b76a5 center;float: left;}

.gnb_wrap  #gnb  > a:hover,
.gnb_wrap  #gnb  > a:active,
.gnb_wrap  #gnb  > a:focus {font-weight: 500;}
.gnb_wrap  #gnb ul > .depth1 > a {position: relative;}
.gnb_wrap  #gnb ul > .depth1:hover> a:after{color: #1b76a5}
.gnb_wrap #gnb ul  li a:after {}
/*depth3*/
.gnb_wrap .gnbmenu_wrap {border-top: 1px solid #eee;width: 100%;position: absolute;width: 100%;background: #fff;z-index: 9999;box-sizing: border-box;padding: 30px 0;box-sizing: border-box;left: 0;display: none;border-bottom: 1px solid #eee}
.gnb_wrap li:hover .gnbmenu_wrap {display: block}
.gnbmenu_inner {width: 1240px;margin: auto;}
.gnb_wrap .gnbmenu_wrap::after {content: '';display: block;clear: both;}
.gnb_wrap .gnbmenu_wrap .title{float: left;width: 200px;position: relative;padding-top: 53px;padding-bottom: 53px; background:  url(../images/menu_logo.png) no-repeat top 50px right;background-size: contain;min-height: 250px}
.gnb_wrap  .gnbmenu_wrap .title h4{font-size: 30px;text-align: left}
.gnb_wrap  .gnbmenu_wrap .title h4:after {content: '';display: block;width: 40px;height: 2px;}
.gnb_wrap  .gnbmenu_wrap .title  p{font-size: 13px;text-align: left}
.gnb_wrap .gnb li .gnbmenu_wrap .title{color:#333; font-size:32px;}
.hd_pc  .gnbmenu_wrap .title .title_box {position: absolute;top: 50%;transform: translateY(-50%)}
.hd_pc .gnbmenu_wrap .depth2{float:left;  margin-bottom:20px; box-sizing:border-box; overflow:hidden;position: relative;padding-left: 35px;width: calc(100% - 200px);}
.gnb_wrap li .gnbmenu_wrap .depth3 > li{width: 100% !important;}

.gnb_wrap  li .gnbmenu_wrap .depth2_li{display: inline-block;width: calc(20% - 19.7px) !important;margin-right:20px;text-align:left;padding:0;margin-bottom: 20px;float: none !important;vertical-align: top;}
.gnb_wrap  li .gnbmenu_wrap .depth2_li:nth-child(5n) {margin-right: 0}
.gnb_wrap  li .gnbmenu_wrap .depth2  > li >  a{display:block; font-size:15px !important;color: #fff;background: #385d8a;height: 46px;width: 196px;text-align: center;}
.gnb_wrap  li .gnbmenu_wrap .depth2  > li.on >  a{background:#173c6a}
.gnb_wrap  li .gnbmenu_wrap .depth2  > li:hover >  a {background:#173c6a}
.gnb_wrap .gnbmenu_wrap ul.depth3 {overflow:hidden;height: 100%;margin-top: 15px}


.gnb_wrap li .gnbmenu_wrap .depth2 li .depth3 li{text-align:left; padding:0; float:none; width:100%;}
.gnb_wrap li .gnbmenu_wrap .depth2 li .depth3 li a{line-height: 1.5 !important;font-size: 15px !important;color: #444;text-align: left;position: relative;padding-left: 10px;display: inline-block !important;width: auto !important;margin-bottom: 5px}
.gnb_wrap li .gnbmenu_wrap .depth2 li .depth3 li a:after{content: '';display: block;width: 2px;height: 2px;background: #385d8a;position: absolute;top: 11px;left: 0;}

.gnb_wrap li .gnbmenu_wrap .depth2 li .depth3 li a:before {content: '';display: block;width: 100%;height: 7px;position: absolute;background: #dce7f5;top: 9px;z-index: -1;display: none}
.gnb_wrap li .gnbmenu_wrap .depth2 li .depth3 li:hover a:before {display: block;}

.gnbmenu_inner > ul.depth2 {float: left;width: calc(100% - 200px)}

/**/
.all_menu  {width: 1240px;background: #fff;position: fixed;z-index: 55555;left: 50%;top: 50%;transform: translate(-50%,-50%);display: none}
.all_menu .all_menu_top{background: #1b76a5;padding: 30px;box-sizing: border-box;position: relative;}
.am_dept{padding: 30px}
.all_menu .all_menu_top h3 {font-size: 30px;color: #fff;display: inline-block;margin-right: 5px;}
.all_menu .all_menu_top p {font-size: 23px;;color: #fff;display: inline-block;font-weight: 300}
.all_menu .all_menu_top .am_close{display: block;text-indent: -9999px;background: url(../images/close_btn.png) no-repeat;width: 30px;height: 30px;position: absolute;top: 50%;right: 30px;transform: translateY(-50%)}
.all_menu .am_cont {max-height: 640px;overflow-y: auto}
.all_menu .am_dept:after {content: '';display: block;clear: both}
.all_menu .am_dept {border-bottom: 1px solid #ddd;}
.all_menu .am_dept .am_tit{font-size: 23px;width: 150px;float: left;position: relative;}
.all_menu .am_dept .am_tit:after {content: '';display: block;background: url(../images/menu_arrow.png) no-repeat;width: 8px;height: 14px;right: 0;top: 50%;transform: translateY(-50%); position: absolute;}
.all_menu .am_dept .am_ul {float: left;width: calc(100% - 150px);box-sizing: border-box;padding-left: 20px} 
.all_menu .am_dept .am_ul:after {content: '';display: block;clear: both}
.all_menu .am_dept .am_ul > li{display: inline-block;width: 19%;vertical-align: top;margin: 5px 0}
.all_menu .am_dept .am_ul li a {font-size: 18px;}
.all_menu .am_dept .am_ul .am_dep2 li{position: relative;padding-left: 15px;line-height: 2}
.all_menu .am_dept .am_ul .am_dep2 {padding-top:10px;}
.all_menu .am_dept .am_ul .am_dep2 li a{font-size: 16px;position: relative}

.all_menu .am_dept .am_ul .am_dep2 li:before{content: '';display: block;width: 2px;height: 2px;background: #666;position: absolute;left: 0;top: 15px} 
.all_menu .am_dept .am_ul .am_dep2 li a:after {content: '';display: block;width: 100%;height: 7px;position: absolute;background: #dce7f5;top: 9px;z-index: -1;display: none}
.all_menu .am_dept .am_ul .am_dep2 li:hover a:after{display: block}

/*모바일 검색창*/
.mb_search {display: none}

/*모바일 메뉴*/
.m_menu_btn {width: 40px !important;height: 40px;text-indent: -9999px;background: url(../images/m_menu.png) no-repeat center;position: absolute;right: 0;display: none}








/*footer*/
.foot_site {background: #414f5c;}
.foot_site ul li {float: left;width: 25%;}
.foot_site select {position: relative;display: block;width: 100%;height: 50px;background: url(../images/foot_select01.png) no-repeat right center #374552;padding-left: 20px;color: #ddd;font-size: 16px;border: 0;}
#footer {background: #515e6a;padding: 20px 0}
#footer .foot_logo {float: left;margin-right: 27px}
#footer .foot_txt {float: left;}
#footer .foot_txt p{font-size: 14px; color: #dcdfe1}
#footer .foot_link {margin-bottom: 17px;}
#footer .foot_link li {display: inline-block}
#footer .foot_link li a{color: #d5d8db;font-size: 14px;line-height: 13px;}
#footer .foot_link li a:after {content: '';display: inline-block;border-right: 1px solid #999;height: 10px;width: 1px;margin-right: 3px;margin-left: 7px;}
#footer .foot_link li:last-child a:after {display: none}

.m_gnb {display: none}
.gnb_wrap .m_gnb_top .lang_list{display: none;background: #333}
.gnb_wrap .m_gnb_top button{float: right !important;background: url(../images/close_btn_b.png) no-repeat center !important;background-size: 15px !important;}

@media screen and (max-width:1024px) {
.gnb_wrap #gnb  .depth2_li > a  {position: relative;}
.gnb_wrap #gnb  .depth2_li > a:after {content: '';display: block;background: url(../images/menu_more.png) no-repeat;background-size: 12px;width: 12px;height: 12px;position: absolute;right: 20px;top: 50%;transform: translateY(-50%);}   
.gnb_wrap #gnb  .depth2_li > a:only-child:after  {display: none !important}
.gnb_wrap #gnb  .depth2_li > a.on:after{content: '';background: url(../images/menu_add.png) no-repeat;height: 1px}

.gnb_wrap #gnb ul > .depth1 > a:only-child:after {display: none}    
}

@media screen and (min-width:1251px){
  .gnb_wrap  .lang_list,.gnb_wrap .sns_list{display: none} 
    .m_close{display: none} 
	ul.nsq  {width: calc(100% - 50px);float: left;}
}
@media screen and (min-width:1024px) and (max-width:1260px) {
.container {max-width: 1000px}
ul.nsq  {width: calc(100% - 50px);float: left;}
 .lang_list,.sns_list,.m_close{display: none} 
/*header*/
.gnb_wrap #gnb {width: 1000px}   
.gnbmenu_inner {width: 1000px}    
.gnb_wrap #gnb ul > li {width:25%}
.all_menu {width: 95%;}    
.gnb_wrap .gnbmenu_wrap .title {width: 140px;}    
.gnbmenu_inner > ul.depth2 {width: calc(100% - 140px)}   
.gnb_wrap li .gnbmenu_wrap .depth2 li .depth3 li a {font-size: 13px !important}
}
 

@media screen and (min-width:781px) and (max-width:1024px) {
.container {max-width:100%; padding:0 20px }    
.btn_room {display: none}    
 /*font*/
.f16 {font-size: 15px}
.f18 {font-size: 17px}
.f20 {font-size: 19px}
.f22 {font-size: 20px}
.f23{font-size: 20px}
.f24{font-size: 22px}
.f25{font-size: 22px}
.f26{font-size: 23px}
.f32 {font-size: 28px}
.f33 {font-size: 30px}
.f38 {font-size: 32px}
    
/*tnb*/
#tnb .fr {display: none} 
/*모바일메뉴*/
 .m_menu_btn {display: block}
 #hd  {border-bottom: 1px solid #eee}
.gnb_wrap  {display: none}
.gnb_wrap #gnb .menu_btn {display: none} 
#hd .lang {display: none}    
#hd .sch_wrap .sch_tit {display: none}    
#hd .sch_wrap .sch_box {width: 250px}

    
/*모바일 gnb*/
.gnb_wrap #gnb{width: 100%;}    
.gnb_wrap{background: #fff;position: fixed;right: 0;top: 0;width: 50%;z-index: 999999;max-height: 100vh;overflow-y: auto}
.gnb_wrap .m_gnb_top {}
.gnb_wrap .m_gnb_top:after {content: '';display: block;clear: both}
.gnb_wrap .m_gnb_top .lang_list {float: left;width: calc(100% - 35px)}
.gnb_wrap .m_gnb_top .lang_list:after {content: '';display: block;clear: both}
.gnb_wrap .m_gnb_top .lang_list li {float: left;line-height: 35px;width: 33.333%;text-align: center;border-right: 1px solid #ccc}
.gnb_wrap .m_gnb_top .lang_list li a{font-size: 13px;display: block}
.gnb_wrap .m_gnb_top .lang_list li a:hover,
.gnb_wrap .m_gnb_top .lang_list li a:active,
.gnb_wrap .m_gnb_top .lang_list li a:focus {background: #f5f5f5}
.gnb_wrap .m_gnb_top button {float: left;height: 35px;display: block;background: url(../images/close_btn.png) no-repeat center #333;width: 35px;text-indent: -9999px;background-size: 15px}
.m_menu .m_gnb  li {}
.gnb_wrap #gnb ul > li{display: block;float: none;width: 100% !important;}
.gnb_wrap li .gnbmenu_wrap .depth2_li a{padding-left: 30px !important}
.gnb_wrap #gnb ul > li a {display: block;padding:0 15px;text-align: left !important;background: #385d8a;font-size: 17px;color: #fff;;line-height: 40px;box-sizing: border-box;position: relative;border-bottom: 1px solid #285286;}
.gnb_wrap #gnb ul > li.depth1 > a:after {content: '';display: block;background: url(../images/menu_arrow2.png) no-repeat center;width: 18px;height: 12px;position: absolute;right: 20px !important;top: 50% !important;transform: translateY(-50%);left:inherit;border-left: 0;border-right: 0;border-top: 0;}
.gnb_wrap #gnb ul > li.depth1 > a:hover,
.gnb_wrap #gnb ul > li.depth1 > a:active,
.gnb_wrap #gnb ul > li.depth1 > a:focus {color: #fff !important;}
.gnb_wrap #gnb ul > li.depth1 > a.on:after {background: url(../images/menu_c.png) no-repeat;top: 50%;height: 2px;}
.gnb_wrap li .gnbmenu_wrap .depth2 > li > a {border-bottom: 1px solid #ccc;font-size: 14px;height: 35px !important;line-height: 35px !important;position: relative;padding-left: 30px;width: 100%;display: block !important;background-color: #fff !important;color: #555 !important;border-bottom: 0 !important;}
.gnb_wrap li .gnbmenu_wrap .depth2 > li > a:before {content: '';display: block;width: 2px;height: 2px;background: #385d8a;top: 15px;left: 20px;position: absolute;;}
.gnb_wrap .gnbmenu_wrap ul.depth3 {margin-top: 0;}
.gnbmenu_inner > ul.depth2 {float: none;width: 100%;}
.gnb_wrap li .gnbmenu_wrap .depth2_li {margin-bottom: 0;}
.gnb_wrap #gnb ul.depth2 {display: none}
.gnb_wrap #gnb ul.depth3 {padding: 5px 0;background: #f5f5f5;display: none;}
.gnb_wrap #gnb ul.depth3 li a{line-height: 25px !important;font-size: 13px;padding-left: 15px;display: block !important;background-color: transparent !important;color: #777;border-bottom: 0;}
.gnb_wrap li .gnbmenu_wrap .depth2 li .depth3 li a:after {display: none;}

.gnb_wrap .gnbmenu_wrap {display: block;border: 0;position: relative;background: transparent;padding: 0;border-bottom: 0;}
.gnbmenu_inner{width: 100%;}
.gnb_wrap .gnbmenu_wrap .title {display: none}
.gnb_wrap #gnb ul > li.depth1 > a:hover,
.gnb_wrap #gnb ul > li.depth1.on > a {color: #fff !important;}
.gnb_wrap li .gnbmenu_wrap .depth2 li .depth3 li a:after {display: none !important;}
   
.gnb_wrap .sns_list {float: right;padding: 10px 20px}
.gnb_wrap .sns_list:after {content: '';display: block;clear: both}
.gnb_wrap .sns_list li {float: left;}    
.gnb_wrap .sns_list li a{display: block;width: 35px;height: 35px;text-indent:-9999px;margin-left: 5px;}
.gnb_wrap .sns_list .m_blog {background: url(../images/m_blog.png) no-repeat  center}
.gnb_wrap .sns_list .m_facebook {background: url(../images/m_facebook.png) no-repeat  center}
.gnb_wrap .sns_list .m_youtube {background: url(../images/m_youtube.png) no-repeat  center}
.gnb_wrap .sns_list .m_kakao {background: url(../images/m_kakao.png) no-repeat  center}
.gnb_wrap .sns_list .m_twitter {background: url(../images/m_twitter.png) no-repeat  center}
.m_menu .m_gnb .depth1 > ul{display: none}
.m_menu .m_gnb .depth1 ul li .depth3{display: none}  



/*close 버튼*/
/*header*/
.gnb_wrap #gnb {width: 100%}   
.gnb_wrap #gnb ul > li {width: 13.55%}   

 /*모바일 검색창*/
.mb_search {display: none}
.mb_menu{display: block;}    
.all_menu {width: 95%;}    
.all_menu .all_menu_top h3{font-size: 23px}   
.all_menu .all_menu_top p {font-size: 18px}
.all_menu .am_dept .am_tit {font-size: 18px}   
 .all_menu .am_dept .am_ul li a {font-size: 15px;}    
 .all_menu .am_dept .am_ul .am_dep2 li a {font-size: 13px}

    
    
/*footer*/
.foot_site select {font-size: 14px;height: 40px;background-size: 40px}  
 #footer .foot_logo {width: 120px}    
#footer .foot_link li a,#footer .foot_txt p {font-size: 13px}
    
}


@media screen and (min-width:640px) and (max-width:780px) {
.container {max-width:100%; padding:0 20px }    
.btn_room {display: none}       
 /*font*/
.f16 {font-size: 14px}
.f18 {font-size: 16px}
.f20 {font-size: 18px}
.f22 {font-size: 19px}
.f23{font-size: 20px}
.f24{font-size: 22px}
.f25{font-size: 23px}
.f26{font-size: 23px}
.f32 {font-size: 25px}
.f33 {font-size: 25px}
.f38 {font-size: 30px}    
    
/*모바일메뉴*/
.m_menu_btn {display: block}
#hd {border-bottom: 1px solid #eee}
.gnb_wrap #gnb .menu_btn {display: none} 
 #hd .lang {display: none}   
 .gnb_wrap {display: none;}    
/*tnb*/
#tnb .fr {display: none}     
/*모바일 gnb*/
.gnb_wrap #gnb{width: 100%;}    
.gnb_wrap{background: #fff;position: fixed;right: 0;top: 0;width: 50%;z-index: 999999;max-height: 100vh;overflow-y: auto}
.gnb_wrap .m_gnb_top {}
.gnb_wrap .m_gnb_top:after {content: '';display: block;clear: both}
.gnb_wrap .m_gnb_top .lang_list {float: left;width: calc(100% - 35px)}
.gnb_wrap .m_gnb_top .lang_list:after {content: '';display: block;clear: both}
.gnb_wrap .m_gnb_top .lang_list li {float: left;line-height: 35px;width: 33.333%;text-align: center;border-right: 1px solid #ccc}
.gnb_wrap .m_gnb_top .lang_list li a{font-size: 13px;display: block}
.gnb_wrap .m_gnb_top .lang_list li a:hover,
.gnb_wrap .m_gnb_top .lang_list li a:active,
.gnb_wrap .m_gnb_top .lang_list li a:focus {background: #f5f5f5}
.gnb_wrap .m_gnb_top button {float: left;height: 35px;display: block;background: url(../images/close_btn.png) no-repeat center #333;width: 35px;text-indent: -9999px;background-size: 15px}
.m_menu .m_gnb  li {}
.gnb_wrap #gnb ul > li{display: block;float: none;width: 100% !important;}
.gnb_wrap li .gnbmenu_wrap .depth2_li a{padding-left: 30px !important}
.gnb_wrap #gnb ul > li a {display: block;padding:0 15px;text-align: left !important;background: #385d8a;font-size: 17px;color: #fff;;line-height: 40px;box-sizing: border-box;position: relative;border-bottom: 1px solid #285286;}
.gnb_wrap #gnb ul > li.depth1 > a:after {content: '';display: block;background: url(../images/menu_arrow2.png) no-repeat center;width: 18px;height: 12px;position: absolute;right: 20px !important;top: 50% !important;transform: translateY(-50%);left:inherit;border-left: 0;border-right: 0;border-top: 0;}
.gnb_wrap #gnb ul > li.depth1 > a:hover,
.gnb_wrap #gnb ul > li.depth1 > a:active,
.gnb_wrap #gnb ul > li.depth1 > a:focus {color: #fff !important;}
.gnb_wrap #gnb ul > li.depth1 > a.on:after {background: url(../images/menu_c.png) no-repeat;top: 50%;height: 2px;}
.gnb_wrap li .gnbmenu_wrap .depth2 > li > a {border-bottom: 1px solid #ccc;font-size: 14px;height: 35px !important;line-height: 35px !important;position: relative;padding-left: 30px;width: 100%;display: block !important;background-color: #fff !important;color: #555 !important;border-bottom: 0 !important;}
.gnb_wrap li .gnbmenu_wrap .depth2 > li > a:before {content: '';display: block;width: 2px;height: 2px;background: #385d8a;top: 15px;left: 20px;position: absolute;;}
.gnb_wrap .gnbmenu_wrap ul.depth3 {margin-top: 0;}
.gnbmenu_inner > ul.depth2 {float: none;width: 100%;}
.gnb_wrap li .gnbmenu_wrap .depth2_li {margin-bottom: 0;}
.gnb_wrap #gnb ul.depth2 {display: none}
.gnb_wrap #gnb ul.depth3 {padding: 5px 0;background: #f5f5f5;display: none;}
.gnb_wrap #gnb ul.depth3 li a{line-height: 25px !important;font-size: 13px;padding-left: 15px;display: block !important;background-color: transparent !important;color: #777;border-bottom: 0;}
.gnb_wrap li .gnbmenu_wrap .depth2 li .depth3 li a:after {display: none;}

.gnb_wrap .gnbmenu_wrap {display: block;border: 0;position: relative;background: transparent;padding: 0;border-bottom: 0;}
.gnbmenu_inner{width: 100%;}
.gnb_wrap .gnbmenu_wrap .title {display: none}
.gnb_wrap #gnb ul > li.depth1 > a:hover,
.gnb_wrap #gnb ul > li.depth1.on > a {color: #fff !important;}
.gnb_wrap li .gnbmenu_wrap .depth2 li .depth3 li a:after {display: none !important;}
   
.gnb_wrap .sns_list {float: right;padding: 10px 20px}
.gnb_wrap .sns_list:after {content: '';display: block;clear: both}
.gnb_wrap .sns_list li {float: left;}    
.gnb_wrap .sns_list li a{display: block;width: 35px;height: 35px;text-indent:-9999px;margin-left: 5px;}
.gnb_wrap .sns_list .m_blog {background: url(../images/m_blog.png) no-repeat  center}
.gnb_wrap .sns_list .m_facebook {background: url(../images/m_facebook.png) no-repeat  center}
.gnb_wrap .sns_list .m_youtube {background: url(../images/m_youtube.png) no-repeat  center}
.gnb_wrap .sns_list .m_kakao {background: url(../images/m_kakao.png) no-repeat  center}
.gnb_wrap .sns_list .m_twitter {background: url(../images/m_twitter.png) no-repeat  center}
.m_menu .m_gnb .depth1 > ul{display: none}
.m_menu .m_gnb .depth1 ul li .depth3{display: none}      
  
#hd .container {padding: 0;}    
.m_menu_btn {right: 20px;}    
 /*모바일 검색창*/
.mb_search{position: absolute;left: 20px;}
#hd .logo {left: 50%;transform: translate(-50%,-50%)}
/*모바일 검색*/
.sch_wrap.on {display: block !important;}
.sch_wrap{padding:15px 20px ;box-sizing: border-box;position: absolute;z-index: 5555;background: #fff;width: 100%;left: 0 !important;top: 94px !important; transform: translate(0) !important;display: none;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.11);}
#hd .sch_wrap .sch_tit {font-size: 15px;color: #385d8a;font-weight: 500;margin-right: 14px;display: block;line-height: 40px;float: none;}
#hd .sch_wrap .sch_box {width: 100%;height: 40px;border-radius: 8px;border: 1px solid #385d8a;float: left;position: relative;}
.sch_wrap #totSearch2{display: block;position: absolute;right: 15px;top: 50%;transform: translateY(-50%); background: url(../images/seach_btn.png) no-repeat center;width: 22px;height: 22px;text-indent: -9999px;}
.sch_wrap .sch_open {font-size: 14px;width: calc(100% - 45px);padding-left: 15px;box-sizing: border-box;height: 40px;background-color: transparent}
.sch_wrap .sch_open:placeholder-shown {color: #9d9d9d;}

.mb_search .mb_sch{display: block;background: url(../images/seach_btn.png) no-repeat;width: 22px;height: 22px;text-indent: -9999px}
.mb_search .mb_sch.on {background: url(../images/close_btn_b.png) no-repeat;background-size: 22px}    
.mb_search {display: block;position: absolute;right: 60px;top: 40px}
.all_menu .am_dept .am_tit:after {transform: rotate(90deg);top: 25%}
 #hd .sch_wrap #totSearch {right: 0}  
/*footer*/
.foot_site select {font-size: 14px;height: 40px;background-size: 40px}  
 #footer .foot_logo {width: 120px;float: none}
#footer .foot_txt {float: none;margin-top: 15px} 
 #footer .foot_link {margin-bottom: 10px}    
#footer .foot_link li a,#footer .foot_txt p {font-size: 13px}    

}

@media screen and (max-width:640px) {
.container {max-width:100%; padding:0 20px }    
.btn_room {display: none}       
     /*font*/
.f14 {font-size: 13px}
.f16 {font-size: 15px}
.f18 {font-size: 16px}
.f20 {font-size: 18px}
.f22 {font-size: 18px}
.f23{font-size: 18px}
.f24{font-size: 20px}
.f25{font-size: 20px}
.f26{font-size: 20px}
.f32 {font-size: 23px}
.f33 {font-size: 25px}
.f38 {font-size: 26px}
    
/*모바일메뉴*/
 #tnb {}
#tnb .fl {float: none}
 #tnb .site_tab li {width: 25%;}
 #tnb .site_tab li:nth-child(5), #tnb .site_tab li:nth-child(6) {display: none} 
 #tnb .site_tab li a {font-size: 13px}
.gnb_wrap #gnb .menu_btn {display: none} 
 #hd .lang {display: none}    
 .gnb_wrap {display: none;}        
/*close 버튼*/
    
/*모바일메뉴*/
#hd {border-bottom: 1px solid #eee}    
.m_menu_btn {display: block}
.gnb_wrap #gnb .menu_btn {display: none} 
 #hd .lang {display: none}   
#hd .hd_top {height: 65px;}
 #hd .logo img{width: 130px;}    
    
/*모바일 gnb*/
.gnb_wrap #gnb{width: 100%;}
.gnb_wrap{background: #fff;position: fixed;right: 0;top: 0;width: 50%;z-index: 999999;max-height: 100vh;overflow-y: auto;min-width: 300px;}
.gnb_wrap .m_gnb_top {}
.gnb_wrap .m_gnb_top:after {content: '';display: block;clear: both}
.gnb_wrap .m_gnb_top .lang_list {float: left;width: calc(100% - 35px)}
.gnb_wrap .m_gnb_top .lang_list:after {content: '';display: block;clear: both}
.gnb_wrap .m_gnb_top .lang_list li {float: left;line-height: 35px;width: 33.333%;text-align: center;border-right: 1px solid #ccc}
.gnb_wrap .m_gnb_top .lang_list li a{font-size: 13px;display: block}
.gnb_wrap .m_gnb_top .lang_list li a:hover,
.gnb_wrap .m_gnb_top .lang_list li a:active,
.gnb_wrap .m_gnb_top .lang_list li a:focus {background: #f5f5f5}
.gnb_wrap .m_gnb_top button {float: left;height: 35px;display: block;background: url(../images/close_btn.png) no-repeat center #333;width: 35px;text-indent: -9999px;background-size: 15px}
.m_menu .m_gnb  li {}
.gnb_wrap #gnb ul > li{display: block;float: none;width: 100% !important;}
.gnb_wrap li .gnbmenu_wrap .depth2_li a{padding-left: 30px !important}
.gnb_wrap #gnb ul > li a {display: block;padding:0 15px;text-align: left !important;background: #385d8a;font-size: 17px;color: #fff;;line-height: 40px;box-sizing: border-box;position: relative;border-bottom: 1px solid #285286;}
.gnb_wrap #gnb ul > li.depth1 > a:after {content: '';display: block;background: url(../images/menu_arrow2.png) no-repeat center;width: 18px;height: 12px;position: absolute;right: 20px !important;top: 50% !important;transform: translateY(-50%);left:inherit;border-left: 0;border-right: 0;border-top: 0;}
.gnb_wrap #gnb ul > li.depth1 > a:hover,
.gnb_wrap #gnb ul > li.depth1 > a:active,
.gnb_wrap #gnb ul > li.depth1 > a:focus {color: #fff !important;}
.gnb_wrap #gnb ul > li.depth1 > a.on:after {background: url(../images/menu_c.png) no-repeat;top: 50%;height: 2px;}
.gnb_wrap li .gnbmenu_wrap .depth2 > li > a {border-bottom: 1px solid #ccc;font-size: 14px;height: 35px !important;line-height: 35px !important;position: relative;padding-left: 30px;width: 100%;display: block !important;background-color: #fff !important;color: #555 !important;border-bottom: 0 !important;}
.gnb_wrap li .gnbmenu_wrap .depth2 > li > a:before {content: '';display: block;width: 2px;height: 2px;background: #385d8a;top: 15px;left: 20px;position: absolute;;}
.gnb_wrap .gnbmenu_wrap ul.depth3 {margin-top: 0;}
.gnbmenu_inner > ul.depth2 {float: none;width: 100%;}
.gnb_wrap li .gnbmenu_wrap .depth2_li {margin-bottom: 0;}
.gnb_wrap #gnb ul.depth2 {display: none}
.gnb_wrap #gnb ul.depth3 {padding: 5px 0;background: #f5f5f5;display: none;}
.gnb_wrap #gnb ul.depth3 li a{line-height: 25px !important;font-size: 13px;padding-left: 15px;display: block !important;background-color: transparent !important;color: #777;border-bottom: 0;}
.gnb_wrap li .gnbmenu_wrap .depth2 li .depth3 li a:after {display: none;}

.gnb_wrap .gnbmenu_wrap {display: block;border: 0;position: relative;background: transparent;padding: 0;border-bottom: 0;}
.gnbmenu_inner{width: 100%;}
.gnb_wrap .gnbmenu_wrap .title {display: none}
.gnb_wrap #gnb ul > li.depth1 > a:hover,
.gnb_wrap #gnb ul > li.depth1.on > a {color: #fff !important;}
.gnb_wrap li .gnbmenu_wrap .depth2 li .depth3 li a:after {display: none !important;}
   
.gnb_wrap .sns_list {float: right;padding: 10px 20px}
.gnb_wrap .sns_list:after {content: '';display: block;clear: both}
.gnb_wrap .sns_list li {float: left;}    
.gnb_wrap .sns_list li a{display: block;width: 35px;height: 35px;text-indent:-9999px;margin-left: 5px;}
.gnb_wrap .sns_list .m_blog {background: url(../images/m_blog.png) no-repeat  center}
.gnb_wrap .sns_list .m_facebook {background: url(../images/m_facebook.png) no-repeat  center}
.gnb_wrap .sns_list .m_youtube {background: url(../images/m_youtube.png) no-repeat  center}
.gnb_wrap .sns_list .m_kakao {background: url(../images/m_kakao.png) no-repeat  center}
.gnb_wrap .sns_list .m_twitter {background: url(../images/m_twitter.png) no-repeat  center}
.m_menu .m_gnb .depth1 > ul{display: none}
.m_menu .m_gnb .depth1 ul li .depth3{display: none}      
    
 /*모바일 검색창*/
.mb_search{position: absolute;left: 0;top: 50%;transform: translateY(-50%)}
.m_menu_btn{position: absolute;right:0;top: 50%;transform: translateY(-50%)}

#hd .container {padding: 0;}    
.m_menu_btn {right: 20px !important;width: 25px !important;height: 30px;}
 /*모바일 검색창*/
.mb_search{position: absolute;left: 20px !important;}
#hd .logo {left: 50%;transform: translate(-50%,-50%)}/*모바일 검색*/
.sch_wrap.on {display: block !important;}
.sch_wrap{padding:15px 20px ;box-sizing: border-box;position: absolute;z-index: 5555;background: #fff;width: 100%;left: 0 !important;top: 65px !important; transform: translate(0) !important;display: none;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.11);}
#hd .sch_wrap .sch_tit {font-size: 15px;color: #385d8a;font-weight: 500;margin-right: 14px;display: block;line-height: 40px;float: none;}
#hd .sch_wrap .sch_box {width: 100%;height: 40px;border-radius: 8px;border: 1px solid #385d8a;float: left;position: relative;}
.sch_wrap #totSearch2{display: block;position: absolute;right: 15px;top: 50%;transform: translateY(-50%); background: url(../images/seach_btn.png) no-repeat center;width: 22px;height: 22px;text-indent: -9999px;}
.sch_wrap .sch_open {font-size: 14px;width: calc(100% - 45px);padding-left: 15px;box-sizing: border-box;height: 40px;background-color: transparent}
.sch_wrap .sch_open:placeholder-shown {color: #9d9d9d;}


.mb_search .mb_sch{display: block;background: url(../images/seach_btn.png) no-repeat;width: 22px;height: 22px;text-indent: -9999px}
.mb_search .mb_sch.on {background: url(../images/close_btn_b.png) no-repeat;background-size: 22px}    
#hd .logo {left: 50%;transform: translate(-50%,-50%)}
    
/*all_menu*/    
.all_menu {width: 100%;top: 0;transform:translate(0);left: 0;height: 100vh;}    
.all_menu .all_menu_top h3{font-size: 18px}   
.all_menu .all_menu_top p {font-size: 14px}
.all_menu .am_dept .am_tit {font-size: 16px}
.all_menu .am_dept .am_ul  {display: none}
 .all_menu .am_dept .am_ul .am_dep2 li a {font-size: 14px}    
.all_menu .am_dept .am_ul li a {font-size: 15px;}    
 .all_menu .am_dept .am_tit {float: none;width: 100%;display: inline-block;}     
.am_dept ,.all_menu .all_menu_top {padding: 15px}    
 .all_menu .am_dept .am_ul {float: none;width: 100%;padding-left: 0;margin-top: 15px}    
.mb_search {display: block;}
.all_menu .am_dept .am_tit:after {transform: rotate(90deg);top: 25%}   .all_menu .am_dept .am_tit.on:after {transform: rotate(-90deg)}
.all_menu.hd_mobile .am_dept .am_ul {}
.all_menu .am_dept .am_ul > li{display: block;width: 100%;}
.all_menu .am_dept .am_ul > li > a {display: block;width: 100%;line-height: 40px;position: relative;}    
 .all_menu .am_dept .am_ul .am_dep2 {padding: 10px;background: #f5f5f5;display: none}  
    
.all_menu .am_dept .am_ul li a:after {content: '';display: block;background: url(../images/menu_more.png) no-repeat;width: 15px;height: 15px;position: absolute;right: 0;top: 15px}    
.all_menu .am_dept .am_ul li.on a:after {content: '';display: block;background: url(../images/menu_add.png) no-repeat;width: 15px;height: 15px;position: absolute;right: 0;top: 15px}    
 .all_menu .am_dept .am_ul li a:only-child:after  {display: none} 
 .am_dept .am_ul > li.on  .am_dep2 {display: block}   
#hd .sch_wrap #totSearch {right: 0}      
/*footer*/
.foot_site select {font-size: 14px;background-size: 40px}  
 #footer .foot_logo {width: 120px;float: none}
.foot_site ul li {width: 50%;border-bottom: 1px solid rgba(238, 238, 238, 0.16)}

.foot_site ul li:nth-child(3),.foot_site ul li:nth-child(4) {border-bottom: 0}
#footer .foot_txt {float: none;margin-top: 15px} 
#footer .foot_link {margin-bottom: 10px}    
#footer .foot_link li a,#footer .foot_txt p {font-size: 13px}   
#footer .foot_link li:nth-child(3) ,#footer .foot_link li:nth-child(4) {display: none}    

}

@media screen and (max-width:480px) {
.container {max-width:100%; padding:0 20px }    
    
/*모바일메뉴*/
#tnb .fl {float: none}
 #tnb .site_tab li {width: 25%;}
 #tnb .site_tab li:nth-child(5), #tnb .site_tab li:nth-child(6) {display: none} 
#tnb .site_tab li a {font-size: 13px}
/*모바일메뉴*/
#hd {border-bottom: 1px solid #eee}    
.m_menu_btn {display: block}
.gnb_wrap #gnb .menu_btn {display: none} 
 #hd .lang {display: none}    
#hd .hd_top {height: 55px;}
 #hd .logo img{width: 110px;}    
    
 /*모바일 검색창*/
.mb_search{position: absolute;left: 0;top: 50%;transform: translateY(-50%)}
.m_menu_btn{position: absolute;right:0;top: 50%;transform: translateY(-50%)}
#hd .logo {left: 50%;transform: translate(-50%,-50%)}

/*tnb*/
#tnb .fr {display: none} 
    
/*모바일 gnb*/
.gnb_wrap{background: #fff;position: fixed;right: 0;top: 0;width: 50%;z-index: 999999;max-height: 100vh;overflow-y: auto}
.gnb_wrap .m_gnb_top {}
.gnb_wrap .m_gnb_top:after {content: '';display: block;clear: both}
.gnb_wrap .m_gnb_top .lang_list {float: left;width: calc(100% - 35px)}
.gnb_wrap .m_gnb_top .lang_list:after {content: '';display: block;clear: both}
.gnb_wrap .m_gnb_top .lang_list li {float: left;line-height: 35px;width: 33.333%;text-align: center;border-right: 1px solid #ccc}
.gnb_wrap .m_gnb_top .lang_list li a{font-size: 13px;display: block}
.gnb_wrap .m_gnb_top .lang_list li a:hover,
.gnb_wrap .m_gnb_top .lang_list li a:active,
.gnb_wrap .m_gnb_top .lang_list li a:focus {background: #f5f5f5}
.gnb_wrap .m_gnb_top button {float: left;height: 35px;display: block;background: url(../images/close_btn.png) no-repeat center #333;width: 35px;text-indent: -9999px;background-size: 15px}
.m_menu .m_gnb  li {}
.gnb_wrap #gnb ul > li{display: block;float: none;width: 100% !important;}
.gnb_wrap li .gnbmenu_wrap .depth2_li a{padding-left: 30px !important}
.gnb_wrap #gnb ul > li a {display: block;padding:0 15px;text-align: left !important;background: #385d8a;font-size: 17px;color: #fff;;line-height: 40px;box-sizing: border-box;position: relative;border-bottom: 1px solid #285286;}
.gnb_wrap #gnb ul > li.depth1 > a:after {content: '';display: block;background: url(../images/menu_arrow2.png) no-repeat center;width: 18px;height: 12px;position: absolute;right: 20px !important;top: 50% !important;transform: translateY(-50%);left:inherit;border-left: 0;border-right: 0;border-top: 0;}
.gnb_wrap #gnb ul > li.depth1 > a:hover,
.gnb_wrap #gnb ul > li.depth1 > a:active,
.gnb_wrap #gnb ul > li.depth1 > a:focus {color: #fff !important;}
.gnb_wrap #gnb ul > li.depth1 > a.on:after {background: url(../images/menu_c.png) no-repeat;top: 50%;height: 2px;}
.gnb_wrap li .gnbmenu_wrap .depth2 > li > a {border-bottom: 1px solid #ccc;font-size: 14px;height: 35px !important;line-height: 35px !important;position: relative;padding-left: 30px;width: 100%;display: block !important;background-color: #fff !important;color: #555 !important;border-bottom: 0 !important;}
.gnb_wrap li .gnbmenu_wrap .depth2 > li > a:before {content: '';display: block;width: 2px;height: 2px;background: #385d8a;top: 15px;left: 20px;position: absolute;;}
.gnb_wrap .gnbmenu_wrap ul.depth3 {margin-top: 0;}
.gnbmenu_inner > ul.depth2 {float: none;width: 100%;}
.gnb_wrap li .gnbmenu_wrap .depth2_li {margin-bottom: 0;}
.gnb_wrap #gnb ul.depth2 {display: none}
.gnb_wrap #gnb ul.depth3 {padding: 5px 0;background: #f5f5f5;display: none;}
.gnb_wrap #gnb ul.depth3 li a{line-height: 25px !important;font-size: 13px;padding-left: 15px;display: block !important;background-color: transparent !important;color: #777;border-bottom: 0;}
.gnb_wrap li .gnbmenu_wrap .depth2 li .depth3 li a:after {display: none;}

.gnb_wrap .gnbmenu_wrap {display: block;border: 0;position: relative;background: transparent;padding: 0;border-bottom: 0;}
.gnbmenu_inner{width: 100%;}
.gnb_wrap .gnbmenu_wrap .title {display: none}
.gnb_wrap #gnb ul > li.depth1 > a:hover,
.gnb_wrap #gnb ul > li.depth1.on > a {color: #fff !important;}
.gnb_wrap li .gnbmenu_wrap .depth2 li .depth3 li a:after {display: none !important;}
   
.gnb_wrap .sns_list {float: right;padding: 10px 20px}
.gnb_wrap .sns_list:after {content: '';display: block;clear: both}
.gnb_wrap .sns_list li {float: left;}    
.gnb_wrap .sns_list li a{display: block;width: 35px;height: 35px;text-indent:-9999px;margin-left: 5px;}
.gnb_wrap .sns_list .m_blog {background: url(../images/m_blog.png) no-repeat  center}
.gnb_wrap .sns_list .m_facebook {background: url(../images/m_facebook.png) no-repeat  center}
.gnb_wrap .sns_list .m_youtube {background: url(../images/m_youtube.png) no-repeat  center}
.gnb_wrap .sns_list .m_kakao {background: url(../images/m_kakao.png) no-repeat  center}
.gnb_wrap .sns_list .m_twitter {background: url(../images/m_twitter.png) no-repeat  center}
.m_menu .m_gnb .depth1 > ul{display: none}
.m_menu .m_gnb .depth1 ul li .depth3{display: none}      
   
/*m_menu*/
.m_menu {width: 50%;min-width: 300px}
.m_menu .m_gnb_top .lang_list li a {font-size: 11px}
.m_menu .m_gnb .depth1 > a {font-size: 15px}    
 .m_menu .m_gnb .depth1 > ul > li > a {font-size: 13px}
    
 /*모바일 검색*/
.sch_wrap.on {display: block !important;}
.sch_wrap{padding:15px 20px ;box-sizing: border-box;position: absolute;z-index: 5555;background: #fff;width: 100%;left: 0 !important;top: 60px !important; transform: translate(0) !important;display: none;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.11);}
#hd .sch_wrap .sch_tit {font-size: 15px;color: #385d8a;font-weight: 500;margin-right: 14px;display: block;line-height: 40px;float: none;}
#hd .sch_wrap .sch_box {width: 100%;height: 40px;border-radius: 8px;border: 1px solid #385d8a;float: left;position: relative;}
.sch_wrap #totSearch2{display: block;position: absolute;right: 15px;top: 50%;transform: translateY(-50%); background: url(../images/seach_btn.png) no-repeat center;width: 22px;height: 22px;text-indent: -9999px;}
.sch_wrap .sch_open {font-size: 14px;width: calc(100% - 45px);padding-left: 15px;box-sizing: border-box;height: 40px;background-color: transparent}
.sch_wrap .sch_open:placeholder-shown {color: #9d9d9d;}
#hd .sch_wrap #totSearch {right: 0}    

.mb_search .mb_sch{display: block;background: url(../images/seach_btn.png) no-repeat;width: 22px;height: 22px;text-indent: -9999px}
.mb_search .mb_sch.on {background: url(../images/close_btn_b.png) no-repeat;background-size: 22px}    
    
/*footer*/
.foot_site select {font-size: 12px;padding-left: 10px;padding-right: 40px; height: 40px;background-size: 40px}  
 #footer .foot_logo {width: 120px;float: none}
.foot_site ul li {width: 50%;border-bottom: 1px solid rgba(238, 238, 238, 0.16)}
.foot_site ul li:nth-child(3),.foot_site ul li:nth-child(4) {border-bottom: 0}
#footer .foot_txt {float: none;margin-top: 15px;margin-bottom: 10px} 
#footer .foot_link {margin-bottom: 10px}    
#footer .foot_link li:nth-child(3) ,#footer .foot_link li:nth-child(4) {display: none}
#footer .foot_link li a,#footer .foot_txt p {font-size: 13px}     
}
